@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', sans-serif;
  box-sizing: border-box;
}

:root {
  /* GENERAL COLOR */
  --CLRBORDER:rgb(60, 57, 57);
  --HDRBGCOLOR: #111;
  --FONTCOLOR:#d51c1c;
  --CONTENUBG: rgba(33, 33, 33, 0.848);
}

 html{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color:var(--HDRBGCOLOR);
  
  scroll-behavior: smooth;
}


/* HEADER & NAV */


header {
  height: 7rem;
  width:100%;
  margin: 5px;
  margin-top: 15px;
    
   display: flex;
  flex-flow: row wrap;
  position: fixed;

  
}
.titre-container{

  height: 2rem;
  display: flex;
  justify-content: left;
  align-items: left;
}

.prosper-titre{
  text-decoration: none;
  display: flex;
  position: relative;
  color: var(--FONTCOLOR);
  font-weight: 700;
  font-size: 45px;
  padding: 15px;

}

.titre-container .prosper-titre::before,
.titre-container .prosper-titre::after {
    font-size: 45px;
    padding: 15px;
    color: var(--FONTCOLOR);
    font-weight: 700;
 
    content: attr(data-text);
    position: absolute;
    width:100%;
    height: 100%;
    
    background:var(--HDRBGCOLOR);
    overflow: hidden;
    top: 0;
    left: 0;
}

 .titre-container .prosper-titre:hover:before{
  left: 3px;
  text-shadow: -2px;
  animation: glitch-1  2s infinite reverse;
}

.titre-container .prosper-titre:hover:after{
  left: -3px;
  text-shadow: -2px 0 green;
  animation: glitch-2 2s linear infinite reverse;

} 


@keyframes glitch-1{
  0% {
    clip: rect(132px, auto, 101px, 15px);
  }
  5% {
    clip: rect(17px, auto, 94px, 15px);
  }
  10% {
    clip: rect(40px, auto, 66px, 15px);
  }
  15% {
    clip: rect(87px, auto, 82px, 15px);
  }
  20% {
    clip: rect(137px, auto, 61px, 15px);
  }
  25% {
    clip: rect(34px, auto, 14px, 15px);
  }
  30% {
    clip: rect(133px, auto, 74px, 15px);
  }
  35% {
    clip: rect(76px, auto, 107px, 15px);
  }
  40% {
    clip: rect(59px, auto, 130px,15px);
  }
  45% {
    clip: rect(29px, auto, 84px,15px);
  }
  50% {
    clip: rect(22px, auto, 67px,15px);
  }
  55% {
    clip: rect(67px, auto, 62px,15px);
  }
  60% {
    clip: rect(10px, auto, 105px,15px);
  }
  65% {
    clip: rect(78px, auto, 115px,15px);
  }
  70% {
    clip: rect(105px, auto, 13px,15px);
  }
  75% {
    clip: rect(15px, auto, 75px,15px);
  }
  80% {
    clip: rect(66px, auto, 39px,15px);
  }
  85% {
    clip: rect(133px, auto, 73px,15px);
  }
  90% {
    clip: rect(36px, auto, 128px,15px);
  }
  95% {
    clip: rect(68px, auto, 103px,15px);
  }
  100% {
    clip: rect(14px, auto, 100px,15px);
  }
}

@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 15px);
  }
  5% {
    clip: rect(36px, auto, 4px, 15px);
  }
  10% {
    clip: rect(85px, auto, 66px, 15px);
  }
  15% {
    clip: rect(91px, auto, 91px, 15px);
  }
  20% {
    clip: rect(148px, auto, 138px, 15px);
  }
  25% {
    clip: rect(38px, auto, 122px, 15px);
  }
  30% {
    clip: rect(69px, auto, 54px, 15px);
  }
  35% {
    clip: rect(98px, auto, 71px, 15px);
  }
  40% {
    clip: rect(146px, auto, 34px, 15px);
  }
  45% {
    clip: rect(134px, auto, 43px, 15px);
  }
  50% {
    clip: rect(102px, auto, 80px, 15px);
  }
  55% {
    clip: rect(119px, auto, 44px, 15px);
  }
  60% {
    clip: rect(106px, auto, 99px, 15px);
  }
  65% {
    clip: rect(141px, auto, 74px, 15px);
  }
  70% {
    clip: rect(20px, auto, 78px, 15px);
  }
  75% {
    clip: rect(133px, auto, 79px, 15px);
  }
  80% {
    clip: rect(78px, auto, 52px, 15px);
  }
  85% {
    clip: rect(35px, auto, 39px, 15px);
  }
  90% {
    clip: rect(67px, auto, 70px, 15px);
  }
  95% {
    clip: rect(71px, auto, 103px, 15px);
  }
  100% {
    clip: rect(83px, auto, 40px, 15px);
  }
}


.logo-container {
 
  position: relative;
  top: -30px;
  width: auto;
  height: 9rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.logo-container img {
  margin-top: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
}



/* INDEX COLLECTION */

.indexCollection {
  position: fixed;
  left: 25px;
  margin-top: 6.5rem;
 }


.indexCollection div {
  margin: 5px 10px;
  padding: 5px;
  margin-top: 95px;
  position: relative;
}

.indexCollection a {
  
  position: relative;
  text-decoration: none;
  color: var(--FONTCOLOR);
  font-size: 18px;
  letter-spacing: 1px;

}

.indexCollection a:after {
  content: "";
  position:absolute;
  background-color: var(--FONTCOLOR);

  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s ease;
}

.indexCollection a:hover {
  font-weight: 700;
}

.indexCollection a:hover:after {
  width: 100%;
}

/* COLLECTIONS SPECIF */

.collections {
  
  position: relative;
  left: 300px;
  margin-right: 15px;

  display: flex;
  flex-direction: column;
  width: 1100px;
}

.collections .collection {
  margin-top: 2em;
  margin-bottom: 100vh;
}


.collections h2 {
  color: var(--FONTCOLOR);
  margin-top: 4.5em;

  text-align: center;
  letter-spacing: 3px;
  font-style: oblique;
}



.carousel-container {
  width: 100%;
  height:520px;
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 30px;
  margin-left: 8%;


  object-fit: fill;
}

.carousel-img {

  display: flex;
  justify-content: start;
  align-items: start;

  margin: 10px 0 0 10px;
  width: auto;
  height: 100%;

}

.carousel-portrait {
  width:400px;
  height: 500px;
  
  display: none;

  position: absolute;
  margin: 10px 0 0 200px;

}


.carousel-portrait> img {
  max-width: 100%;
  max-height: 100%;

  
  border-radius: 5px;
}

.carousel-paysage {
  width:750px ;
  height: 500px;

  position: absolute;
  object-fit: contain;

  
}


.carousel-paysage> img {
 width: 100%;
 height: 100%;  

 border-radius: 5px;

}


  

.carousel-slide {
  position: absolute; 
    right: 145px;
    top: 50px;
    width: 150px;
    height: 460px;
    border-radius: 5%;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-color: rgba(33, 33, 33, 0.848);
    overflow-y: scroll;
    scroll-behavior: smooth;
   
}

.carousel-slide::-webkit-scrollbar {
  display: none;
}
#backBtn {
  width: 40px;
  height: 50px;
  margin: 5px 0px 10px 25px;
  transform: rotate(90deg);
}
#nextBtn {
  width: 40px;
  height: 50px;
  margin: 5px 0px 10px 25px;
  transform: rotate(-90deg);
}



.carousel-slide .image {
  display: flex;
  margin: 10px 10px 20px 10px ;
  

 cursor: pointer;
}




.image > img{
  width: 100%;
  height: 100%;

  object-fit: contain;
}
