@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COULEUR */
    --HDRBGCOLOR: #000;
    --HDRCOLOR: #9d0208;
    --MAINBGCOLOR: #000;


    /* POLICE */
    --FF:'IBM Plex Mono', monospace;
    --FS: 15px;


    /*MOSAIQUE STYLE */
    --GAP:10px;
    --NB-COLONNES: 12;
    --ROW-HEIGHT:200px;
}

html {
    font-size: var(--FS);
    font-family: var(--FF) ;
    background-color: var(--MAINBGCOLOR);
}

body{
    display: block;
}

  header {
    background-color: var(--HDRBGCOLOR);
    color: var(--HDRCOLOR);
   
 padding: 0.5rem;
   width: 100%;
   justify-content: left;
    
   display: flex;
    position: absolute;
    top: 0px;
 }


.header-title-line {
    display: flex;
    padding-right: 0.5em;
    
    font-size: 3rem;
}



nav {
    font-size: 1.5rem;
}


nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row nowrap;
    
    margin-top: 2rem;
    position: absolute;
    right: 0;
}

nav li {
    padding: 0.25rem;
   
}

nav a {
    display: block;
    text-align: right;
    width: 80%;
    margin: auto;
}

nav a:any-link {
    color: var(--HDRCOLOR);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    transform: scale(1.2);
    transition:all 0.3s;
}   */
 
main {
    display: block;
    margin: 3rem;
    padding: 5rem;
}

.mosaique {
    background-color: var(--MAINBGCOLOR);
    box-sizing: border-box;
    padding: var(--GAP);
    display: grid;
   
    grid-template-columns: repeat(var(--NB-COLONNES), 1fr);
    grid-auto-rows: var(--ROW-HEIGHT);
    gap: var(--GAP);
    margin:3rem;
    margin-top: 0%;

 
}

.mosaique > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* POUR-NB-COLONNES=12 MEDIAQUERIES TAILLE ECRAN L-XL */

/* LIGNE 1-5 */
img.c1-r1 {
    grid-column:1/7;
    grid-row: 1/5;
}

img.c2-r1 {
    grid-column: 7/9;
    grid-row: 1/3;
}
img.c3-r1 {
    grid-column:7/9;
    grid-row: 3/5;
}

img.c4-r1 {
    grid-column: 9/13;
    grid-row: 1/5;
 }

 /* LIGNE 5-9 */

 img.ftrimg {
    grid-column: 1/13;
    grid-row: 5/9;
 }
 
 /* LIGNE 9-12 */

img.c1-r2 {
    grid-column: 1/4;
    grid-row: 9/12;  
}

img.c2-r2 {
   
    grid-column: 4/10;
    grid-row: 9/12;

}   

img.c3-r2 {
    grid-column: 10/13;
    grid-row: 9/12;  
 }

 img.c1-r3 {
 grid-column: 1/9;
 grid-row: 12/15 ;
 }
 
 img.c2-r3 {
   grid-column: 9/13;
   grid-row: 12/15 ;
 }


/* POUR-NB-COLONNES=5 MEDIAQUERIES TAILLE ECRAN S-M */


/* img.c1-r1 {
    grid-column:1/5;
    grid-row: 1/3;
}



  img.c2-r1 {
    grid-column: 4/5;
    grid-row: 1/2;
}
 

img.c2-r2 {
   grid-column: 2/6;
}

img.c1-r3 {
   grid-column: 1/4;
   grid-row: 4/5;
}

img.c2-r3 {
    grid-column: 4/6;
    grid-row: 4/6;
}
img.c2-r4 {
    grid-column: 2/4;
}

img.c1-r5 {
    grid-column: 1/3; 
    grid-row: 6/8;
}
img.c2-r5 {
    grid-column: 3/6; 
    grid-row: 6/8;
} */


/* ANIM GROSSISSEMENT IMAGES MOSAIQUE */

/* footer {
    background-color: var(--HDRBGCOLOR);
    color: var(--HDRCOLOR);
}

footer button {
    background-color: transparent;
    border: none;
    color: var(--HDRCOLOR);
    font-size: 1.5rem;
    font-family: var(--FF);
    font-weight: bold;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    display: none;
} 


footer a {
    display: block;
    text-align: center;
    width: 80%;
    margin:auto;
}

footer a:any-link {
    color: var(--HDRCOLOR);
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    transform: scale(1.1);
    transition:all 0.3s;
}

 :is(footer:hover, footer:focus-within) ul {
    display: block;
}   */